/* CSS Document */

.h-7{
	height: 7%;
}
.h-10{
	height: 10%;
}
.h-30{
	height: 30%
}
.h-33{
	height: 33.3333%
}
.h-80{
	height: 80%;
}
.w-10{
	width: 10%;
}
.w-55{
	width: 55%;
}
.w-15{
	width: 15%;
}
.w-30{
	width: 30%;
}
