<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#000000"/>
    <link rel="stylesheet" href='{% static "css/main.fbf4cc1a.css" %}'>
</head>
<body>
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="d-flex justify-content-center align-items-center">
            <p class="text-white">Document approved successfully</p>
        </div>
    </div>
</body>
</html>
